interactions:
- request:
    body: ''
    headers:
      X-Fern-Language:
      - Python
      authorization:
      - FILTERED
    method: GET
    uri: https://cloud.langfuse.com/api/public/traces?limit=5&page=1
  response:
    body:
      string: '{"data": [{"bookmarked": false, "createdAt": "2026-05-07T21:10:27.000Z",
        "environment": "default", "externalId": null, "htmlPath": "/redacted", "id":
        "redacted-trace-000", "input": "[REDACTED USER CONTENT]", "latency": 0.001,
        "metadata": {}, "name": "redacted-trace-name", "observations": [], "output":
        "[REDACTED USER CONTENT]", "projectId": "redacted-project-id", "public": false,
        "release": null, "scores": [], "sessionId": null, "tags": [], "timestamp":
        "2026-05-07T21:10:25.798Z", "totalCost": 0, "updatedAt": "2026-05-07T21:10:27.013Z",
        "userId": null, "version": null}, {"bookmarked": false, "createdAt": "2026-05-07T21:09:52.000Z",
        "environment": "default", "externalId": null, "htmlPath": "/redacted", "id":
        "redacted-trace-001", "input": "[REDACTED USER CONTENT]", "latency": 0, "metadata":
        {}, "name": "redacted-trace-name", "observations": [], "output": "[REDACTED
        USER CONTENT]", "projectId": "redacted-project-id", "public": false, "release":
        null, "scores": [], "sessionId": null, "tags": [], "timestamp": "2026-05[...]
[...]
